.addContainer {
  background-color: #5E616A;
  height: 100%;
  padding: 20px 30px;
  width: 100%;
  z-index:10;
}

.pageLink a {
  z-index: 15;
}

.addTitle {
  margin-left: 10px;
  color: #F9F3E6;
}

.example-enter .addContainer {
  top: -150%;
}

.example-enter.example-enter-active .addContainer {
  top:70px;
  transition: all .3s ease;
}

.example-leave .addContainer {
  top:70px;
}

.example-leave.example-leave-active .addContainer {
  top: -250%;
  transition: all .3s ease;
}
