.addContainer {
  background-color: #3f758f;
  height: 100%;
  padding: 20px 30px;
  width: 100%;
  z-index:15;
}

.AddEquipment {
  position: absolute;
  z-index:15;
}

.tooltip {
  position: absolute;
  top: 52px;
  z-index: 30;
}

.addTitle {
  margin-left: 10px;
  color: #fff;
}

/** Animations **/

.example-enter .addContainer {
  margin-top: -100%;
}

.example-enter.example-enter-active .addContainer {
  margin-top: 0;
  transition: all .5s ease;
}

.example-leave .addContainer {
  margin-top: 0;
}

.example-leave.example-leave-active .addContainer {
  margin-top: -100%;
  transition: all .5s ease;
}
