/** Header **/

.nav {
  background-color: #3f758f;
  color: #fff;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  width: 85%;
  z-index: 25;
}

/** Add Link **/

.pageLink {
  background-color: #3f758f;
  height: 60px;
  z-index: 20;
}

.pageLink a {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 4em;
  padding: 0;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: -10px;
  z-index: 20;
}

.pageLink a:hover,
.user:hover {
  color: #ffe277;
}

.addLink a {
  transform: rotate(45deg);
}

/** User Options Nav Button **/

.user {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  left: 30px;
  padding: 10px;
  position: absolute;
  top: 10px;
  z-index:25;
}

.user:hover + .userOptions,
.userOptions:hover {
  display: block;
}

.userOptions {
  display: none;
  left: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  z-index: 25;
}

.userOptions li {
  list-style: none;
}

.userOptions li a {
  background-color: #6fa4bf;
  border: solid 2px #6fa4bf;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 15px 10px;
  width: 100%;
}

.userOptions li a:hover {
  background-color: #3f758f;
  color: #ffe277;
}

/** Global **/

button {
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  height:100%;
  padding: 20px;
  width: 100%;
}

/** Animations **/

.example-enter .addLink a,
.example-leave .mainLink a {
  color: #ffe277;
  transform: rotate(0deg);
}

.example-enter.example-enter-active .addLink a,
.example-leave.example-leave-active .mainLink a {
  transform: rotate(45deg);
  transition: all .5s ease;
}

.example-leave .addLink a,
.example-enter .mainLink a {
  color: #ffe277;
  transform: rotate(45deg);
}

.example-leave.example-leave-active .addLink a,
.example-enter.example-enter-active .mainLink a {
  transform: rotate(0deg);
  transition: all .5s ease;
}
