input,
button,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #464a4c;
  display: block;
  font-size:.9em;
  line-height: 1.25;
  margin: 10px 0;
  padding: .5rem .75rem;
  transition: border-color ease-in-out .15s,
  box-shadow ease-in-out .15s,
  -webkit-box-shadow ease-in-out .15s;
  min-width: 350px;
}

button {
  background-color: #6fa4bf;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #ffe277;
  color: #000;
}

input[disabled],
button[disabled],
select[disabled] {
  background-color: #dfe1e2;
  color: #989da0;
  cursor: not-allowed;
}

input::placeholder,
button::placeholder,
select::placeholder {
  color: #babdbf;
}

.checkboxInput {
  align-items: center;
  display: flex;
  min-width: 50px;
}

.checkboxInput p {
  margin-right: 10px;
}

.checkboxInput input[type="checkbox"] {
  margin: 15px 20px 10px 0;
}

.inputText {
  align-items: center;
  display: flex;
  height: 25px;
}

.material-icons {
  margin: 0 5px;
}

.SelectChange {
  height: 35px;
  min-width: 380px;
}

.itemForm {
  display: flex;
  flex-flow: row wrap;
}

.inputLabel {
  color: #fff;
}

.inputFields {
  margin: 10px;
}

.inputInfo {
  display: flex;
  width: 100%;
}

.inputInfo p {
  flex: 1;
}

.buttonGroup {
  display: flex;
  width: 100%;
}

/** Form Validation **/

.errors {
  align-items: center;
  color: #ffe277;
  display: flex;
}

.reg-errors {
  align-items: center;
  display: flex;
}
