
.mainContainer {
  padding: 20px 30px;
  z-index: 0;
}
.mainPage {
  position: absolute;
}

.EquipmentList {
  z-index: 1;
}

.searchContainer {
  display: flex;
}

.searchInput {
  margin-right: 20px;
  min-width: 50px;
}

.tooltip {
  background-color: #a0d5f2;
  border-radius: 5px;
  color: #000;
  right: 5px;
  padding: 7px;
  position: absolute;
  top: 52px;
  z-index: 30;
}

.pageLink .tooltip {
  display: none;
}

.pageLink:hover .tooltip {
  display: block;
}


span[aria-hidden="true"] {
  display:none;
}

span[aria-hidden="false"] {
  display:block;
}

.sa-button-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.sa-button-container button,
.sa-button-container .sa-confirm-button-container {
  width: 40%;
  min-width: 20%;
}

.sa-confirm-button-container button {
  min-width: 100%;
}

/** Animations **/
.example-enter .mainContainer {
  z-index: 0;
}

.example-enter.example-enter-active .mainContainer {
  z-index: 1;
  transition: all 5s ease;
}

.example-leave .mainContainer {
  margin-top: 0;
}

.example-leave.example-leave-active .mainContainer {
  margin-top: 65%;
  transition: all .5s ease;
}
